@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
:root{
    --primary-color: #2a9d8f;
    --toggle-bg: #3f3d3d;
    --bg-color: #f1f1f1;
    --font-color: #fff;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 1em 0;
    position: fixed;
    background-color: var(--font-color);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
    z-index: 2;
}

.brand-link {
    margin-left: 3em;
    text-decoration: none;
}

.brand {
    display: flex;
    cursor: pointer;    
    align-items: center;
}

.brand img{
    width: 4.5em;
}

.brand-title {
    font-size: 1.5rem;
    padding-left: 0.2em;
    color: var(--primary-color);
}
.header-right{
    margin-right:1em;
}

.fa-2x{
    padding: 0.2em;
    color: var(--primary-color);
    cursor: pointer;
}

a{
    text-decoration: none;
}

.menuIcon, .closeIcon{
    display: none;
    visibility: hidden;
    border: none;
    background: none;
    color: var(--primary-color);
}

.navigation{
    position: fixed;
    top: 0;
    bottom: 0;
    margin-left: 5em;
    margin-top: 7em;
    overflow-y: auto;
}

@media (max-width: 600px) {
    .brand-link{
        margin-left: 1em;
    }
    .brand-title{
        display:none;
    }
    .github-repo{
        margin-right: 1em;
    }
    .navigation{
        flex-direction: column;
        height: 100%;
        width: 40vw;
        position: fixed;
        z-index: 10;
        top: 0;
        left: -100%;
        background: var(--bg-color);
        transition: all 1s ease;
        margin: 0 !important;
        padding: 3em 0 0 1em;
    }
    .menuIcon{
        display: inline-block;
        visibility: visible;
    }
    .closeIcon{
        display: none;
        visibility: visible;
    }
}
