@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
:root{
    --primary-color: #2a9d8f;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 1em 0;
    position: fixed;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #2a9d8f;
    z-index: 2;
}

.brand-link {
    color: #000;
    margin-left: 3em;
    text-decoration: none;
}

.brand {
    display: flex;
    cursor: pointer;    
    align-items: center;
}

.brand img{
    width: 4.5em;
}

.brand-title {
    font-size: 1.5rem;
    padding-left: 0.2em;
    color: #2a9d8f;
}
.header-right{
    margin-right:1em;
}

.fa-2x{
    padding: 0.2em;
    color: #2a9d8f;
    cursor: pointer;
}

@media (max-width: 600px) {
    .brand-link{
        margin-left: 1em;
    }
    .brand-title{
        font-size: 1.2em;
    }
    .github-repo{
        margin-right: 1em;
    }
}
