.grid-col-2{
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
    grid-gap:0.4em;
}
.grid_item{
    background-color: var(--primary-color);
    padding:3em;
    font-size: large;
    text-align: center;
}

.grid-col-3{
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(15em, 1fr) );
    grid-gap: 0.4em;
}