.grid-col-2{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:0.4em;
}
.grid_item{
    background-color: rgb(186, 228, 228);
    padding:3em;
    font-size: large;
    text-align: center;
}

.grid-col-3{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.4em;
}