<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialog</title>
    <link rel="shortcut icon" href="../../images/Comp-ui.png" type="image">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../home.css">
    <link rel="stylesheet" href="dialog.css">
    <link rel="stylesheet" href="../../day-night-mode/day-night.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header">
        <a href="../../index.html" class="brand-link">
            <span class="brand">
                <img src="../../images/Comp-ui.png" alt="Brand Logo" class="brand-logo" width="100em">
                <span class="brand-title">Comp UI</span>
            </span>
        </a>
        <div class="header-right">
        <i class="fas fa-moon fa-2x toggle-icon" onclick="toggleView()"></i>
        <a href="https://twitter.com/_mukeshbishnoi">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a class="github-repo" href="https://github.com/bishnoimukesh/">
            <i class="fab fa-github fa-2x"></i>
        </a>            
    </div>
    </header>

    <nav class="navigation">
        <div class="nav-main-heading">Getting Started</div>

        <div class="nav-sub-heading nav-getstarted">
            <a href="../home.html">About</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="../alert/alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="../badge/badge.html">Badge</a>
            </li>
            <li class="component-links">
                <a href="../button/button.html">Button</a>
            </li>
            <li class="component-links">
                <a href="../card/card.html">Card</a>
            </li>
            <li class="component-links">
                <a href="../chips/chips.html">Chips</a>
            </li>
            <li class="component-links">
                <a href="../dialog/dialog.html">Dialog</a>
            </li>
            <li class="component-links">
                <a href="../grid/grid.html">Grid</a>
            </li>
            <li class="component-links">
                <a href="../image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a href="../input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="../list/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="../modal/modal.html">Modal</a>
            </li>
            <li class="component-links">
                <a href="../navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-links">
                <a href="../rating/rating.html">Rating</a>
            </li>
            <li class="component-links">
                <a href="../text-utilities/text-utilites.html">Text Utilites</a>
            </li>
            <li class="component-links">
                <a href="../toast/toast.html">Toast</a>
            </li>
        </ul>
    </nav>

    <main class="comp-display">
        <h1 class="comp-disp-header">Dialog</h1>
        <p class="comp-description">
            Dialog is a component that can be used to display a modal window. 
            Dialog box is mostly used to give a message to the users. For example,
            if one input field requires to enter some text but the user does not 
            provide any input, then as a part of validation, you can use an alert 
            box to give a warning message.
        </p>
        <h2 class="sub-comp-header">Normal Dialog body</h2>
        <div class="comp-disp-container">
        <dialog class="dialog" id="cont-dialog">
            <p>
            <q>This is a dialog box. </q>
            </p>
            <button id="hide">Close</button>
        </dialog>
        <button id="show">Show Dialog</button>
    </div>
        <p class="comp-description">
            Dialog box can be used to display a message to the user.
            To user dialog use .cont-dialog .
        </p>
        <iframe class="code-snippet"
            src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=twilight&wt=none&l=htmlmixed&width=724&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cdialog%2520id%253D%2522cont-dialog%2522%253E%250A%2509%253Cp%253E%250A%2509%2509%253Cq%253EThis%2520is%2520a%2520dialog%2520box.%2520%253C%252Fq%253E%250A%2509%253C%252Fp%253E%250A%2509%253Cbutton%2520id%253D%2522hide%2522%253EClose%253C%252Fbutton%253E%250A%253C%252Fdialog%253E%250A%253Cbutton%2520id%253D%2522show%2522%253EShow%2520Dialog%253C%252Fbutton%253E%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </main>
    
    <script src="dialog.js"></script>
</body>
</html>