:root{
    --chip-bg-color : #b4d6d2;
    --font-color : #fff;
}

.dialog {
    width: 30%;
    height: max-content;
    background-color: var(--chip-bg-color);
    border: none;
    text-align: center;
  }


#show,
#hide {
  padding: 0.9em 1.2em;
  border-radius: 1em;
  border: none;
  background-color: #2a9d8f;
  color: var(--font-color);
  cursor: pointer;
  align-items:baseline
}
