.btn-toggle{
    background: transparent;
    border: none;
}

.dark-mode {
    background-color: var(--toggle-bg);
    color: var(--font-color) ;
}

.dark-mode > .header{
    background-color: var(--toggle-bg);
    color: var(--font-color) ;
}

.dark-mode > .navigation a{
    color: white ;
} 
.dark-mode > .navigation .active {
    color: var(--primary-color);
} 
.dark-mode > .navigation {
    background-color: var(--toggle-bg);
    color: var(--font-color);
}


