.avatar{
    display: inline-flex;
}

.avatar-square{
    background-color: #36976c;
}
.avatar-round{
    border-radius: 50%;
}

.lg{
    height: 5em;
}
.md{
    height: 3.5em;
}
.sm{
    height: 2em;
}
