.slider-wrap {
    position: relative;
    margin: 0 3rem;
}
.slider {
    width: 100%;
}
.bubble {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: var(--primary-color);
    top: 1px;
    left: 50%;
}
