:root{
    --nav-primary-color: #2a9d8f;
    --nav-bg-color : #a9a9a9;
    --nav-text-color: #fff;
    --nav-badge-color: #ff0000;
}

.navbar-container {
    display: flex;
    background-color: var(--nav-secondary-color);
    height: 3.5em;
    padding: 0.5em 1em;
    justify-content: space-between;
    font-size: 1em;
    align-items: center;
    text-decoration: none;
}
.nav{
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 60px;
}

.navbar-link {
    display: flex;
}

.navbar-brand, .nav-link{
    color: var(--nav-primary-color);
}

.nav-item {
    list-style-type: none;
    padding: 0 0.6em;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    padding-right: 1em;
}

.search-box{
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid var(--nav-primary-color);
    background: none;
    color: var(--nav-primary-color);
    outline: none;
}

.search-box::placeholder{
    color: var(--nav-bg-color);
}

.icon-badge-img{
    color: var(--nav-primary-color);
    font-size: 2em;
}
.icon-badge-count{
    position: absolute;
    top: -0.5em;
    right: -0.9em;
    background-color: var(--nav-badge-color);
    color: var(--nav-text-color);
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    font-size: 0.5em;
    text-align: center; 
}

.icon-badge{
    display: flex;
    position: relative;
    margin: 0.5em 1em;
}
.icon-badge-img{
    width: 1em;
    height: 1em;
}
