<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilites</title>
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../home.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="text-utilites.css">
    <link rel="shortcut icon" href="../../images/Comp-ui.png" type="image">
    <link rel="stylesheet" href="../../day-night-mode/day-night.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body onload="onload()">
    <header class="header">
        <a href="../../index.html" class="brand-link">
            <span class="brand">
                <img src="../../images/Comp-ui.png" alt="Brand Logo" class="brand-logo">
                <span class="brand-title">Comp UI</span>
            </span>
        </a>
        <div class="header-right">
        <i class="fas fa-moon fa-2x toggle-icon"></i>
        <a href="https://twitter.com/_mukeshbishnoi">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a class="github-repo" href="https://github.com/bishnoimukesh/">
            <i class="fab fa-github fa-2x"></i>
        </a>            
        <a class="menuIcon">
            <i class="fa fa-solid fa-bars fa-2x"></i>
        </a>
        <a class="closeIcon">
            <i class="fa fa-times fa-2x"></i>
        </a>    
    </div>
    </header>

    <nav class="navigation">
        <div class="nav-main-heading">Getting Started</div>
        <ul class="nav-comp-section">
            <a href="../home.html">About</a>
        </ul>
        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <a href="../alert/alert.html">Alert</a>
            <a href="../avatar/avatar.html">Avatar</a>
            <a href="../badge/badge.html">Badge</a>
            <a href="../button/button.html">Button</a>
            <a href="../card/card.html">Card</a>
            <a href="../chips/chips.html">Chips</a>
            <a href="../dialog/dialog.html">Dialog</a>
            <a href="../grid/grid.html">Grid</a>
            <a href="../image/image.html">Image</a>
            <a href="../input/input.html">Input</a>
            <a href="../list/list.html">List</a>
            <a href="../modal/modal.html">Modal</a>
            <a href="../navigation/navigation.html">Navigation</a>
            <a href="../rating/rating.html">Rating</a>
            <a href="../slider/slider.html">Slider</a>
            <a class="active"href="./text-utilites.html">Text Utilites</a>
            <a href="../toast/toast.html">Toast</a>
        </ul>
    </nav>

    <main class="comp-display">
        <h1 class="comp-disp-header">Text Utilities</h1>

        <p class="comp-description">
            Text utilites is the art or technique of arranging 
            type to make written language legible, readable and 
            appealing when displayed.
        </p>

        <h2 class="sub-comp-header">Headings</h2>
        <div class="comp-disp-container">
            <h1 class="heading txt-h1">H1 text</h1>
            <h2 class="heading txt-h2">H2 text</h2>
            <h3 class="heading txt-h3">H3 text</h3>
            <h4 class="heading txt-h4">H4 text</h4>
            <h5 class="heading txt-h5">H5 text</h5>
            <h6 class="heading txt-h6">H6 text</h6>
        </div>
        <iframe class="code-snippet"
            src="https://carbon.now.sh/embed?bg=rgba%2860%2C7%2C7%2C1%29&t=twilight&wt=none&l=htmlmixed&width=724&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Ch1%2520class%253D%2522heading%2520txt-h1%2522%253EH1%2520text%253C%252Fh1%253E%250A%253Ch2%2520class%253D%2522heading%2520txt-h2%2522%253EH2%2520text%253C%252Fh2%253E%250A%253Ch3%2520class%253D%2522heading%2520txt-h3%2522%253EH3%2520text%253C%252Fh3%253E%250A%253Ch4%2520class%253D%2522heading%2520txt-h4%2522%253EH4%2520text%253C%252Fh4%253E%250A%253Ch5%2520class%253D%2522heading%2520txt-h5%2522%253EH5%2520text%253C%252Fh5%253E%250A%253Ch6%2520class%253D%2522heading%2520txt-h6%2522%253EH6%2520text%253C%252Fh6%253E%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2 class="sub-comp-header">Small Text</h1>
            <div class="comp-disp-container">
                <p class="small-text">
                    It could be a folder inside your project with 
                    common components used throughout the application.
                    It could be a distributed package on npm. It could 
                    also be a part of a bigger design system. A 
                    component library can be small and it can be large.
            </div>
            <iframe class="code-snippet"
                src="https://carbon.now.sh/embed?bg=rgba%2860%2C7%2C7%2C1%29&t=twilight&wt=none&l=htmlmixed&width=724&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%250A%253Cp%2520class%253D%2522small-text%2522%253E...%253C%252Fp%253E%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        <h2 class="sub-comp-header">Grey Text</h1>
        <div class="comp-disp-container">
            <p class="grey-text">
                It could be a folder inside your project with 
                common components used throughout the application.
                It could be a distributed package on npm. It could 
                also be a part of a bigger design system. A 
                component library can be small and it can be large.
            </div>
            <iframe class="code-snippet"
                src="https://carbon.now.sh/embed?bg=rgba%2860%2C7%2C7%2C1%29&t=twilight&wt=none&l=htmlmixed&width=724&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%250A%253Cp%2520class%253D%2522grey-text%2522%253E...%253C%252Fp%253E%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        <h2 class="sub-comp-header">Centered Text</h1>
        <div class="comp-disp-container">
            <p class="centered-text">
                It could be a folder inside your project with 
                common components used throughout the application.
                It could be a distributed package on npm. It could 
                also be a part of a bigger design system. A 
                component library can be small and it can be large.
            </div>
            <iframe class="code-snippet"
                src="https://carbon.now.sh/embed?bg=rgba%2860%2C7%2C7%2C1%29&t=twilight&wt=none&l=htmlmixed&width=724&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%250A%253Cp%2520class%253D%2522centered-text%2522%253E...%253C%252Fp%253E%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509%2509"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

    </main>
    
    <script src="modal.js"></script>
    <script src="../../day-night-mode/day-night.js"></script>
    <script src="../../js/header.js"></script>
</body>
</html>